@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
}
html {
  scroll-behavior: smooth;
}
body {
  color: rgba(255, 255, 255, 0.87);
  background-color: #171716;
}



/* Webkit Browsers */
::-webkit-scrollbar {
  width: 6px; /* width for vertical scrollbars */
  height: 6px; /* height for horizontal scrollbars */
}

::-webkit-scrollbar-thumb {
  background: #414760; /* Scrollbar color */
  border-radius: 6px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #414760; /* Darker color on hover */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
  border-radius: 6px;
}

::-webkit-scrollbar-corner {
  background: #f1f1f1;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #414760 #f1f1f1;
}

*::-webkit-scrollbar-thumb {
  background-color: #414760;
  border-radius: 6px;
  border: 3px solid #f1f1f1;
}
.hide-scroll {
  /* Custom styles to hide the scrollbar */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer 10+ */
}

.hide-scroll::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}



@keyframes wave {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(14deg); }
  20% { transform: rotate(-8deg); }
  30% { transform: rotate(14deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(10deg); }
  60% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

.wave-icon {
  display: inline-block;
  animation: wave 5s infinite;
  transform-origin: 80% 70%;
}
.custom-flag-select {
  background-color: transparent !important;
  border: none !important;
  color: white !important;
}

.custom-flag-select .flag-select__option {
  background-color: #1a1818 !important;
  color: white !important;
}.marquee-container {
  height: 100%; /* Adjust to show exactly two rows of images */
  overflow: hidden;
  position: relative;
}

.marquee {
  display: flex;
  flex-direction: column;
  animation: marquee 60s linear infinite; /* Adjust duration as needed */
    /* Pause animation on hover */

    transition: animation-play-state 0.5s ease; /* Smooth transition */
}
.marquee:hover {
  animation-play-state: paused;
}
.marquee-row {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr)); /* Two images per row */
  gap: 10px; /* Adjust the gap between images if needed */
}

.marquee-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; /* Space between images */
}

.marquee-item img {
  width: 100%; /* Ensure images take full width */
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

/* Overlay effect */
.marquee-container::before,
.marquee-container::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 20%; /* Adjust height for the fade effect */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
  z-index: 1;
}

.marquee-container::after {
  top: auto;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
}

@keyframes marquee {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%); /* Move up by the container's height */
  }
}
.dot-pattern {
  background-image: radial-gradient(circle, #e0e0e0 1px, transparent 1px);
  background-size: 20px 20px;
  background-position: 0 0;
  animation: moveDots 10s linear infinite;
  
}

@keyframes moveDots {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 20px 20px;
  }
}

/* Hide dot pattern in dark mode */
.dark .dot-pattern {
  background-image: none;
}/* index.css */


/* Add this CSS to your styles.css or a CSS module */
.skeleton {
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.skeleton-image {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  margin: auto;
}

.skeleton-text {
  height: 1.5rem;
  margin: 0.5rem 0;
}

.skeleton-button {
  width: 8rem;
  height: 2.5rem;
  border-radius: 0.25rem;
  margin: auto;
}
